
        <title>{{ title }}</title>
        
        <link rel="icon" href="{{ favicon }}">
        <link rel="shortcut icon" href="{{ favicon }}" type="image/x-icon">
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="{{ theme.color }}">        
        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.author }}">
        
        <meta name="og:title" content="{{ og.title }}">
        <meta name="og:description" content="{{ og.description }}">
        <meta name="og:image" content="{{ og.image }}">
        <meta name="og:url" content="http://euro-travel-example.com/index.htm">
        <meta name="og:site_name" content="{{ og.title }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ og.image }}">
        <meta name="twitter:image:alt" content="{{ og.title }}">
        <meta name="twitter:site" content="@{{ site.author }}">        

        {% include "styles.twig" %}